<h1 style="text-align: center;">Numérique au lycée</h1>

<table>
    <tr>
        <td>GSM BOX</td>
        <td>Box Ecologic</td>
    </tr>
    <tr>
        <td><img src="gsmbox.png" alt="Image GSM Box"></td>
        <td><img src="ecologic.png" alt="Image Eco logic"></td>
    </tr>
</table>


